# Spark DataFrame Exercise

Given a stock market dataset come up with short analysis. Answer basic questions below.

#### Use the following file as a input:

`../data/appl_stock.csv`

#### Start a simple Spark Session

In [1]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

#### Load the Apple Stock CSV File, make sure you infer the data types.

In [5]:
df = spark.read.csv('../data/appl_stock.csv', inferSchema=True,  header=True)
df.show(3)

+-------------------+----------+----------+------------------+----------+---------+------------------+
|               Date|      Open|      High|               Low|     Close|   Volume|         Adj Close|
+-------------------+----------+----------+------------------+----------+---------+------------------+
|2010-01-04 00:00:00|213.429998|214.499996|212.38000099999996|214.009998|123432400|         27.727039|
|2010-01-05 00:00:00|214.599998|215.589994|        213.249994|214.379993|150476200|27.774976000000002|
|2010-01-06 00:00:00|214.379993|    215.23|        210.750004|210.969995|138040000|27.333178000000004|
+-------------------+----------+----------+------------------+----------+---------+------------------+
only showing top 3 rows

#### What are the column names?

In [ ]:
df.columns

#### What does the Schema look like?

#### Print out the first 5 columns.

#### Use describe() to learn about the DataFrame.

## Bonus Question!

There are too many decimal places for `mean` and `stddev` in the `describe()` dataframe.
Format the numbers to just show up to two decimal places. Pay careful attention to the datatypes that `.describe()` returns, we didn't cover how to do this exact formatting, but we covered something very similar. [Check this link for a hint](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.Column.cast)

If you get stuck on this, don't worry, just view the solutions.

#### What day had the Peak High in Price?

#### What is the mean of the Close column?

#### What is the max and min of the Volume column?

#### What percentage of the time was the High greater than 150 dollars ?
#### In other words, 

> (Number of Days High > 150) / (Total Days in the dataset)

#### What is the max High per year?

# Good Job!